@font-face {
    font-family: "Shin Go Pro Regular";
    src: url("AOTFShinGoProRegular.woff");
}

@font-face {
    font-family: "Shin Go Pro Bold";
    src: url("AOTFShinGoProBold.woff");
}

:root{
    font-family: 'Shin Go Pro Regular', sans-serif;
}